﻿@model Hotel_2._0.Models.Grad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drzava.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drzava.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_Grad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
