﻿@model Hotel_2._0.ViewModels.ProdajaViewModel
@{
    ViewBag.Title = "Prodaja";
}

<h2>Prodaja</h2>
<p>
    Kupac: @Model.Kupac
</p>

<p>
    @Html.ActionLink("Moja košarica", "Cart", "Kosarica","",null)
</p>
<table class="table">
    <tr>
        <th>
            <label>Naziv</label>
        </th>
        <th>
            <label>Tip</label>
        </th>
        <th>
            <label>Cijena po mjeri</label>
        </th>
        <th>
            <label>Mjera</label>
        </th>
        <th>
            <label>Količina</label>
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaPoMjeri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mjera)
            </td>
            <td>
                @using (Html.BeginForm("AddToCart", "KosaricaProizvod", FormMethod.Post))
                {
                    <input name="kolicina" id="kolicina" />
                    <input id="proizvodID" name="proizvodID" type="hidden" value="@item.PK_UslugeProizvodi">
                    <input type="submit" value="Dodaj u košaricu" class="btn btn-success" />                   
                }
            </td>
        </tr>
    }

</table>
