﻿@model Hotel_2._0.ViewModels.RezervacijaViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Izrada rezervacije</h2>

@if (Model.TipSobeBool == false)
{
    <p class="alert alert-danger"><strong>Taj tip sobe ne postoji u tom hotelu!</strong></p>
}

@if (Model.OdlazakBool == false)
{
    <p class="alert alert-danger"><strong>Datum odlaska mora biti nakon datuma dolaska!</strong></p>
}

@if (Model.TerminBool == false)
{
    <p class="alert alert-danger"><strong>Za ovaj termin nema slobodnih soba tog tipa!</strong></p>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FK_Rezervacija_Gost_PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FK_Rezervacija_Gost_PK, Model.ListaGostiju, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_Rezervacija_Gost_PK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PK_Hotel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PK_Hotel, Model.ListaHotela, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_Rezervacija_Soba_PK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PK_TipSobe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PK_TipSobe, Model.ListaTipova, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_Rezervacija_Soba_PK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dolazak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dolazak, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dolazak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Odlazak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Odlazak, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Odlazak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Popust, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Popust, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Popust, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
