﻿@model Hotel_2._0.Models.Rezervacija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dolazak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dolazak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odlazak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odlazak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Popust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Popust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_izrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_izrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gost.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gost.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soba.PK_Soba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soba.PK_Soba)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_Rezervacija }) |
    @Html.ActionLink("Back to List", "Index")
</p>
