﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #e1951c;
    border-color: #e1951c;
}


    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 17px;
}

.control-label {
    display: block;
    margin-left: 30%;
    border-radius: 11px;
}

.form-control {
    display: block;
    font-size: 16px;
    padding: 3px 1px;
    border-radius: 11px;
}

    .form-control:focus {
        border-color: #2196f3;
        box-shadow: none;
    }

.btn {
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 10px;
}
