﻿@model IEnumerable<Hotel_2._0.Models.StavkaRacun>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_izrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Racun.PK_Racun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UslugeProizvodi.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_izrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Racun.PK_Racun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UslugeProizvodi.Naziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_UslugaRacun }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_UslugaRacun }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_UslugaRacun })
        </td>
    </tr>
}

</table>
