﻿
@{
    ViewBag.Title = "Izbornik";
}

<h2>Izbornik</h2>

<h2>Koja vozila želite ispisati?</h2>
<br />
<ul>
    <li>@Html.ActionLink("1. Cijelu listu", "Index", "Vozila")</li>
    <li>@Html.ActionLink("2. Terenska", "Terenska", "Vozila")</li>
    <li>@Html.ActionLink("3. Leteća", "Leteca", "Vozila")</li>
</ul>