﻿@model HotelMVC.ViewModels.HotelGradViewModel

@{
    ViewBag.Title = "Create1";
}

<h2>Izrada hotela u novom gradu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Naziv)
            @Html.EditorFor(m => m.Naziv, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
            @Html.ValidationMessageFor(m => m.Naziv, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BrojZvjezdica)
            @Html.EditorFor(m => m.BrojZvjezdica, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.BrojZvjezdica, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Telefon)
            @Html.EditorFor(m => m.Telefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Telefon, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Drzava)
            @Html.EditorFor(m => m.Drzava, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Drzava, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Grad)
            @Html.EditorFor(m => m.Grad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Grad, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Adresa)
            @Html.EditorFor(m => m.Adresa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Adresa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    @Html.ActionLink("Postojeći grad", "Create")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


