﻿@model IEnumerable<HotelMVC.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<h2>Popis hotela</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojZvjezdica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            <label>Država</label>
        </th>
        <th>
            <label>Grad</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BrojZvjezdica)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Adresa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Grad.Drzava.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Grad.Naziv)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PK_Hotel }) |
        @Html.ActionLink("Details", "Details", new { id = item.PK_Hotel }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PK_Hotel })
    </td>
</tr>
}

</table>
