﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>--Greška--</h1>
        <h2>Dogodila se pogreška u programu!</h2>
    </hgroup>
</body>
</html>
