﻿@model Hotel_2._0.Models.TipSobe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipSobe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Televizor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Televizor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balkon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balkon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WIFI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WIFI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_TipSobe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
