﻿@model IEnumerable<Servis_vozila.Models.Vozi>

@{
    ViewBag.Title = "Index";
}

<h2>Nalozi za vožnju vozila</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            <label>Vozilo</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposlenik.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zaposlenik.Prezime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Vozilo.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Zaposlenik.Ime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Zaposlenik.Prezime)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
