﻿
@{
    ViewBag.Title = "Unos";
}

<h1>Unos podataka</h1>

<ul>
    <li>@Html.ActionLink("Unesi državu", "Create", "Drzava")</li>
    <li>@Html.ActionLink("Unesi grad", "Create", "Grad")</li>
    <li>@Html.ActionLink("Napravi hotel", "Create", "Hotel")</li>
    <li>@Html.ActionLink("Napravi tip sobe", "Create", "TipSobe")</li>
    <li>@Html.ActionLink("Napravi sobu", "Create", "Soba")</li>
    <li>@Html.ActionLink("Unesi proizvod ili uslugu", "Create", "UslugeProizvodi")</li>
</ul>
