﻿@model Hotel_2._0.Models.Racun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Soba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_izrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_izrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezervacija.PK_Rezervacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezervacija.PK_Rezervacija)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_Racun }) |
    @Html.ActionLink("Back to List", "Index")
</p>
