﻿@model IEnumerable<Hotel_2._0.Models.Racun>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Soba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_izrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezervacija.PK_Rezervacija)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Soba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_izrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rezervacija.PK_Rezervacija)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_Racun }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_Racun }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_Racun })
        </td>
    </tr>
}

</table>
