﻿@model IEnumerable<Hotel_2._0.Models.Soba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipSobe.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipSobe.Naziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_Soba }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_Soba }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_Soba })
        </td>
    </tr>
}

</table>
