﻿
@{
    ViewBag.Title = "Index";
}

<h2>Aplikacija Hotel</h2>

<ul>
    <li>@Html.ActionLink("Unos i pregled Hotela i Soba", "Unos", "Home")</li>
    <li>@Html.ActionLink("Rezervacije i računi", "Rezervacije", "Home")</li>
    <li>@Html.ActionLink("Usluge i proizvodi", "UslugeIProizvodi", "Home")</li>
</ul>

