﻿
@{
    ViewBag.Title = "Prodaja";
}

<h2>Prodaja</h2>

<ul>
    <li>@Html.ActionLink("Unos usluga i proizvoda ", "Create", "UslugeProizvodi")</li>
    <li>@Html.ActionLink("Prodaja", "Prodaja", "UslugeProizvodi")</li>
</ul>

