﻿
@{
    ViewBag.Title = "Rezervacije1";
}

<h2>Rezervacije</h2>

<ul>
    <li>@Html.ActionLink("Stari gost", "Create", "Rezervacija")</li>
    <li>@Html.ActionLink("Novi gost iz postojećeg grada", "Create1", "Rezervacija")</li>
    <li>@Html.ActionLink("Novi gost iz novog grada", "Create2", "Rezervacija")</li>
</ul>

