﻿
@{
    ViewBag.Title = "Rezervacije";
}

<h2>Rezervacije</h2>

<ul>
    <li>@Html.ActionLink("Nova rezervacija ", "Rezervacije1", "Home")</li>
    <li>@Html.ActionLink("Pregled rezervacija i računa", "RezervacijeRacuni", "Rezervacija")</li>
</ul>