﻿
@{
    ViewBag.Title = "UnosHotela";
}

<h2>Unos Hotela</h2>

<ul>
    <li>@Html.ActionLink("Postojeći grad ", "Create", "Hotel")</li>
    <li>@Html.ActionLink("Novi grad", "Create1", "Hotel")</li>
</ul>
