﻿
@{
    ViewBag.Title = "Unos";
}

<h2>Unos hotela i soba</h2>

<ul>
    <li>@Html.ActionLink("Unos hotela ", "UnosHotela", "Home")</li>
    <li>@Html.ActionLink("Unos soba", "UnosSoba", "Home")</li>
</ul>