﻿
@{
    ViewBag.Title = "UnosSoba";
}

<h2>Unos soba</h2>

<ul>
    <li>@Html.ActionLink("Postojeći tip sobe", "Create", "Soba")</li>
    <li>@Html.ActionLink("Novi tip sobe", "Create1", "Soba")</li>
</ul>

