﻿
@{
    ViewBag.Title = "Usluge i proizvodi";
}

<h2>Usluge i proizvodi</h2>

<ul>
    <li>@Html.ActionLink("Unos usluga i proizvoda ", "Create", "UslugeProizvodi")</li>
    <li>@Html.ActionLink("Prodaja", "OdabirRezervacije", "UslugeProizvodi")</li>
</ul>

