﻿@model Hotel_2._0.Models.KosaricaProizvod

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KosaricaProizvod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_brisanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_brisanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_izrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_izrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kosarica.PK_Kosarica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kosarica.PK_Kosarica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UslugeProizvodi.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UslugeProizvodi.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
