﻿@model HotelMVC.ViewModels.SobaTipViewModel

@{
    ViewBag.Title = "Create1";
}

<h2>Izrada sobe (novi tip)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FK_Soba_Hotel_PK)
            @Html.DropDownList("FK_Soba_Hotel_PK", null, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_Soba_Hotel_PK, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TipNaziv)
            @Html.EditorFor(m => m.TipNaziv, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.TipNaziv, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Televizor)
            @Html.EditorFor(m => m.Televizor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Televizor, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Telefon)
            @Html.EditorFor(m => m.Telefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Telefon, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Balkon)
            @Html.EditorFor(m => m.Balkon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Balkon, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.WIFI)
            @Html.EditorFor(m => m.WIFI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.WIFI, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Cijena)
            @Html.EditorFor(m => m.Cijena, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Cijena, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    @Html.ActionLink("Postojeći tip", "Create")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
