﻿@model HotelMVC.Models.Soba

@{
    ViewBag.Title = "Create";
}

<h2>Izrada sobe (postojeći tip)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FK_Soba_TipSobe_PK)
            @Html.DropDownList("FK_Soba_TipSobe_PK", null, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_Soba_TipSobe_PK, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_Soba_Hotel_PK)
            @Html.DropDownList("FK_Soba_Hotel_PK", null, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FK_Soba_Hotel_PK, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cijena)
            @Html.EditorFor(model => model.Cijena, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cijena, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    @Html.ActionLink("Novi tip", "Create1")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

