﻿@model IEnumerable<Hotel_2._0.Models.TipSobe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Televizor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balkon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIFI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Televizor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balkon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIFI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_TipSobe }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_TipSobe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_TipSobe })
        </td>
    </tr>
}

</table>
