﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>--Greška 404--</h1>
        <h2>Ta stranica ne postoji!</h2>
    </hgroup>
</body>
</html>
