﻿@model Servis_vozila.Models.Tip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tip</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            <label>Nadtip</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip2.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
