﻿
@{
    ViewBag.Title = "Izbornik";
}

<h2>Izbornik</h2>

<h2>Koje zaposlenike želite ispisati?</h2>
<br />
<ul>
    <li>@Html.ActionLink("1. Cijelu listu", "Index", "Zaposlenik")</li>
    <li>@Html.ActionLink("2. One koji upravljaju terenskim vozilima", "Terenski", "Zaposlenik")</li>
    <li>@Html.ActionLink("3. Oni koji upravljaju letećim", "Leteci", "Zaposlenik")</li>
    <li>@Html.ActionLink("4. Oni koji upravljaju tenkom", "Tenkisti", "Zaposlenik")</li>
    <li>@Html.ActionLink("5. Oni koji upravljaju zrakoplovom", "PilotiZ", "Zaposlenik")</li>
    <li>@Html.ActionLink("6. Oni koji upravljaju helikopterom", "PilotiH", "Zaposlenik")</li>
</ul>