﻿@model Servis_vozila.Models.Moj_Nlog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Moj_Nlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vrijeme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrijeme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontroler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontroler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poruka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poruka)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
