﻿@model IEnumerable<Servis_vozila.Models.Moj_Nlog>

@{
    ViewBag.Title = "Index";
}

<h2><p align="center">Izvještaj o radu programa</p></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vrijeme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kontroler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poruka)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vrijeme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kontroler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poruka)
        </td>
    </tr>
}

</table>
