﻿@model IEnumerable<Hotel_2._0.ViewModels.RacuniViewModel>
@{
    ViewBag.Title = "RacuniView";
}

<h2>Računi za rezervaciju</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PK_Racun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PK_Racun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iznos)
            </td>
            <td>
                @if (item.isPaid == false)
                {
                    @Html.ActionLink("Plati", "Plati", new { id = item.PK_Racun }, new { @class = "btn btn-success" })

                }
                else
                {
                    <p style="color:#2ba02b;"><strong>Plaćeno</strong></p>
                }
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Povratak", "RezervacijeRacuni", "Rezervacija")
</div>

