﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>--Greška--</h1>
        <h2>Dogodila se pogreška u programu!</h2>
        <h2>Poruka greške :</h2>       
        <h3 style="color:red">@Session["ErrorMsg"]</h3>
    </hgroup>
</body>
</html>
