﻿body {
    padding-top: 90px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
span.field-validation-error {
    color: red;
    font-weight: bold;
}

.voffset {
    margin-top: 2px
}

.voffset1 {
    margin-top: 5px
}
.voffset2 {
    margin-top:10px 
}

.voffset3 {
    margin-top: 20px
}

.voffset4 {
    margin-top: 40px
}

.voffset4 {
    margin-top: 60px
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 17px;
}

.form-control {
    font-size: 20px;
    padding: 20px 15px;
    border-radius: 11px;
}

.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
}

.btn {
    /*padding: 7px 20px;
    font-size: 20px;*/
    border-radius: 10px;

}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(205, 40, 39, 0.55);
}

.dropdown-menu{
    box-shadow:none;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

/* Page-level styles */

.gigs {
    list-style: none;
}

    .gigs > li {
        position: relative;
        margin-bottom: 30px;
    }

        .gigs > li .details {
                position: absolute;
                top: 0;
                left: 70px;
        }
            
            .gigs > li .details .artist {
                font-weight: bold;
                display: block;
            }

            .gigs > li .details .genre {
                font-size: 15px;
            }

        .gigs > li .date {
                background: red;
                color: white;
                text-align: center;
                width: 60px;
                border-radius: 8px;
        }

                .gigs > li .date .month {
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 2px 6px;
                }

                .gigs > li .date .day {
                        background: #f7f7f7;
                        color: #333;
                        font-size: 20px;
                        padding: 6px 12px;
                }


