@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #337ab7;
}
.back{
	background-color: #263238;
}
.wrapper {
    background-color: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.navbar{
	position:fixed;
}
.navbar-inverse {
    background-color: #337ab7;
}


.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.hotel {
    color:whitesmoke;
    font-size: 28px;
    text-align: center;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}
.cont{
	background-color:gray;
}

.btn{
	margin-top: 4px;
	margin-bottom: 8px;
	margin-left: 7px;
}
.test1{
	float: left;
}
.naslovna{
	font-family:Helvetica;
	text-decoration:bold;
	padding-top:20px;
	text-align:center;
	color: #337ab7;
}
.image{
	width: 100%;
}
.entitet{
	text-align: center;
	font-family: arial;
	font-weight: bold;
}
.test2{
	float: left;
}
.buttonPromjeni{
	margin: 5px;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 15px;
    transition: all .15s ease-in-out;
}
.buttonObrisi{
	margin: 5px;
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
	display: inline-block;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 15px;
    transition: all .15s ease-in-out;
}
/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}
#sidebar li{
	width: 100%;
	float: left;
}