﻿@model IEnumerable<HotelMVC.ViewModels.CartViewModel>
@{
    ViewBag.Title = "Cart";
}

<h2>Košarica</h2>
<p>
    Kupac: @Session["Kupac"]
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CijenaPoMjeri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mjera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            <label>Cijena</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaPoMjeri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mjera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @(item.Kolicina * item.CijenaPoMjeri)
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "UslugeProizvodi", FormMethod.Post))
                {
                    <input id="proizvodID" name="proizvodID" type="hidden" value="@item.Id">
                    <input type="submit" value="Izbriši" class="btn btn-danger" />
                }
            </td>
        </tr>
    }

</table>

<p>Ukupna cijena: @ViewBag.Ukupno</p>

<div>
    @Html.ActionLink("Završi", "Checkout", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Odustani", "Terminate", null, new { @class = "btn btn-danger" })
</div>
<br />
<div>
    @Html.ActionLink("Nastavi Kupovati", "Prodaja", null, new { @class = "btn btn-success" })
</div>
