﻿@model HotelMVC.Models.UslugeProizvodi

@{
    ViewBag.Title = "Create";
}

<h2>Unos usluga i proizvoda</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Naziv)
        @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Tip)
        @Html.EditorFor(model => model.Tip, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Tip, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FK_UslugeProizvodi_Hotel_PK)
        @Html.DropDownList("FK_UslugeProizvodi_Hotel_PK", null, "", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FK_UslugeProizvodi_Hotel_PK, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CijenaPoMjeri)
        @Html.EditorFor(model => model.CijenaPoMjeri, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CijenaPoMjeri, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mjera)
        @Html.EditorFor(model => model.Mjera, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Mjera, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
