﻿@model HotelMVC.Models.UslugeProizvodi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UslugeProizvodi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaPoMjeri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaPoMjeri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mjera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mjera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_UslugeProizvodi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
