﻿@model IEnumerable<HotelMVC.Models.UslugeProizvodi>

@{
    ViewBag.Title = "Index";
}

<h2>Popis usluga i proizvoda</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CijenaPoMjeri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mjera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CijenaPoMjeri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mjera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.Naziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_UslugeProizvodi }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_UslugeProizvodi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_UslugeProizvodi })
        </td>
    </tr>
}

</table>
