﻿@model HotelMVC.ViewModels.OdabirRezervacije
@{
    ViewBag.Title = "OdabirRezervacije";
}

<h2>Odabir Rezervacije</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PK_Rezervacija)
            @Html.DropDownList("PK_Rezervacija", null, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model=>model.PK_Rezervacija, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Odaberi" class="btn btn-primary" />
        </div>
    </div>
}