﻿@model IEnumerable<HotelMVC.Models.UslugeProizvodi>
@{
    ViewBag.Title = "Index1";
}

<h2>Prodaja</h2>
<p>
    Kupac: @Session["Kupac"]
</p>

<p>
    @Html.ActionLink("Moja košarica", "Cart")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CijenaPoMjeri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mjera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Naziv)
        </th>
        <th>
            <label>Količina</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaPoMjeri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mjera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Naziv)
            </td>
            <td>
                @using (Html.BeginForm("AddToCart", "UslugeProizvodi", FormMethod.Post))
                {
                    <input name="kolicina" id="kolicina"  />
                    <input id="proizvodID" name="proizvodID" type="hidden" value="@item.PK_UslugeProizvodi">
                    <input type="submit" value="Dodaj u košaricu" class="btn btn-success" />
                }
            </td>
        </tr>
    }

</table>

