﻿@model HotelMVC.ViewModels.HotelRezervacija2ViewModel
@{
    ViewBag.Title = "Create2";
}

<h2>Odabir hotela i termina rezervacije</h2>

@if (@ViewBag.SobaPostoji == false)
{
    <p class="alert alert-danger"><strong>Taj tip sobe ne postoji u tom hotelu!</strong></p>
}

@if (@ViewBag.Odlazak == false)
{
    <p class="alert alert-danger"><strong>Datum odlaska mora biti nakon datuma dolaska!</strong></p>
}

@if (@ViewBag.Termin == false)
{
    <p class="alert alert-danger"><strong>Za ovaj termin nema slobodnih soba tog tipa!</strong></p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Ime)
            @Html.EditorFor(m => m.Ime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Ime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Prezime)
            @Html.EditorFor(m => m.Prezime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Prezime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Mobitel)
            @Html.EditorFor(m => m.Mobitel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Mobitel, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Drzava)
            @Html.EditorFor(m => m.Drzava, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Drzava, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Grad)
            @Html.EditorFor(m => m.Grad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Grad, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Adresa)
            @Html.EditorFor(m => m.Adresa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Adresa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PK_Hotel)
            @Html.DropDownList("PK_Hotel", null, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PK_Hotel, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PK_TipSobe)
            @Html.DropDownList("PK_TipSobe", null, "", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PK_TipSobe, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Dolazak)
            @Html.EditorFor(m => m.Dolazak, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Dolazak, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Odlazak)
            @Html.EditorFor(m => m.Odlazak, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Odlazak, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Popust)
            @Html.EditorFor(m => m.Popust, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Popust, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.ActionLink("Novi gost iz postojećeg grada", "Create1")
</div>
<div>
    @Html.ActionLink("Stari gost", "Create")
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>