﻿@model IEnumerable<HotelMVC.Models.Rezervacija>

@{
    ViewBag.Title = "Index";
}

<h2>Prikaz rezervacija</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gost.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gost.Prezime)
        </th>
        <th>
            <label>Grad</label>
        </th>
        <th>
            <label>Hotel</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dolazak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odlazak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popust)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Gost.Ime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gost.Prezime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soba.Hotel.Grad.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soba.Hotel.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dolazak)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Odlazak)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Popust)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PK_Rezervacija }) |
        @Html.ActionLink("Details", "Details", new { id = item.PK_Rezervacija }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PK_Rezervacija })
    </td>
</tr>
}

</table>
