﻿@model Hotel_2._0.ViewModels.KosaricaViewModel
@{
    ViewBag.Title = "Cart";
}

<h2>Košarica</h2>
<p>
    Kupac: @Model.Kupac
</p>

<table class="table">
    <tr>
        <th>
            <lable>Naziv</lable>
        </th>
        <th>
            <label>Tip</label>
        </th>
        <th>
            <label>Cijena po mjeri</label>
        </th>
        <th>
            <label>Mjera</label>
        </th>
        <th>
            <label>Količina</label>
        </th>
        <th>
            <label>Cijena</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaPoMjeri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mjera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iznos)
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "KosaricaProizvod", FormMethod.Post))
                {
                    <input id="proizvodID" name="proizvodID" type="hidden" value="@item.Id">
                    <input type="submit" value="Izbriši" class="btn btn-danger" />
                }
            </td>
        </tr>
    }

</table>

<p>Ukupna cijena: @Model.UkupnaCijena</p>

<div>
    @Html.ActionLink("Završi", "Checkout", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Odustani", "Terminate", null, new { @class = "btn btn-danger" })
</div>
<br />
<div>
    @Html.ActionLink("Nastavi Kupovati", "Prodaja", "UslugeProizvodi", null, new { @class = "btn btn-success" })
</div>

