﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

table {
    padding-top:10px;
    border:groove;
}

tr{
    border:groove;
}

td {
    border: groove;
}

th {
    font-size: 20px;
    color: cornflowerblue;
    border: groove;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    margin-top: 20px;
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #337ab7;
}


    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }



h1 {
    color:whitesmoke;
    font-size: 28px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.form-group {
    margin-bottom: 17px;
}

.control-label {
    display: block;
    margin-left: 30%;
    border-radius: 11px;
}

.form-control {
    display: block;
    font-size: 16px;
    padding: 3px 1px;
    border-radius: 11px;
}

    .form-control:focus {
        border-color: #2196f3;
        box-shadow: none;
    }


.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    color: #2c7bbf;
    font-size: larger;
}

.col-md-2{
    text-align:center;
    float:none;
    margin-top:10px;
    margin-bottom:1px;
    color:blue;
}

.col-md-offset-2  {
    padding-bottom:5px;
    margin-left:5px;
}

h3 {
    padding: 5px 0px;
}

.container:nth-of-type(odd) {
    background-color: #D0D0D0;
}

.container:nth-of-type(even) {
    background-color: #D8D8D8;
}

.container {
    max-width: 800px;
}

.unos {
    margin-top: 10px;
    color:blue;
}

.form-group {
    margin-top: 15px;
}

label {
    margin-top: 5px;
}

button {
    margin-left: 8px;
    margin-top: 12px;
}

#menu {
    padding-top: 50px;
}

.section {
    padding: 30px;
}