﻿@model Hotel_2._0.Models.KosaricaProizvod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KosaricaProizvod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_brisanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_brisanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_izrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_izrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kosarica.PK_Kosarica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kosarica.PK_Kosarica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UslugeProizvodi.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UslugeProizvodi.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_KosaricaProizvod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
