﻿@model IEnumerable<Hotel_2._0.Models.KosaricaProizvod>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_brisanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_izrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kosarica.PK_Kosarica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UslugeProizvodi.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_brisanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_izrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kosarica.PK_Kosarica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UslugeProizvodi.Naziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_KosaricaProizvod }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_KosaricaProizvod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_KosaricaProizvod })
        </td>
    </tr>
}

</table>
