﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Aplikacija Hotel</h1>

<ul>
    <li>@Html.ActionLink("Unos podataka", "Unos", "Home")</li>
    <li>@Html.ActionLink("Nova rezervacija", "Rezervacije", "Home")</li>
    <li>@Html.ActionLink("Računi", "RezervacijeRacuni", "Rezervacija")</li>
    <li>@Html.ActionLink("Prodaja", "OdabirRezervacije", "UslugeProizvodi")</li>
</ul>