﻿
@{
    ViewBag.Title = "Rezervacije";
}

<h2>Rezervacije</h2>

<ul>
    <li>@Html.ActionLink("Unesi Gosta", "Create", "Gost")</li>
    <li>@Html.ActionLink("Nova rezervacija", "Create", "Rezervacija")</li>
</ul>

