﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Servis Vozila</h1>
<br />
<h2>Odaberite: </h2>
<br />
<h3>---Unos---</h3>
<ul>
    <li>@Html.ActionLink("1. Tip vozila", "Create", "TipVozila")</li>
    <li>@Html.ActionLink("2. Vozila", "Create", "Vozila")</li>
    <li>@Html.ActionLink("3. Zaposlenika", "Create", "Zaposlenik")</li>
    <li>@Html.ActionLink("4. Dozvola", "Create", "Dozvola")</li>
    <li>@Html.ActionLink("5. Vozi naloga", "Create", "Vozi")</li>
</ul>
<h3>---Ispis---</h3>
<ul>
    <li>@Html.ActionLink("1. Tipova vozila", "Index", "TipVozila")</li>
    <li>@Html.ActionLink("2. Vozila", "Izbornik", "Vozila")</li>
    <li>@Html.ActionLink("3. Zaposlenika", "Izbornik", "Zaposlenik")</li>
    <li>@Html.ActionLink("4. Dozvola", "Index", "Dozvola")</li>
    <li>@Html.ActionLink("5. Vozi naloga", "Index", "Vozi")</li>
</ul>
<h3>---Izvještaj o radu programa---</h3><br/>
<label>@Html.ActionLink("Izvještaj", "Index", "Moj_Nlog")</label>