﻿@model IEnumerable<Hotel_2._0.ViewModels.RezervacijeRnViewModel>
@{
    ViewBag.Title = "RezervacijeRacuni";
}

<h2>Ukupni iznosi računa po rezervacijama</h2>

<div>
    @Html.ActionLink("Neplaćene razervacije", "NeplaceniRacuni")
</div>
<div>
    @Html.ActionLink("Sve rezervacije", "RezervacijeRacuni")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupnaSuma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZaPlatiti)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkupnaSuma)
            </td>
            <td>
                @if (item.ZaPlatiti == 0)
                {
                    <p style="color:#2ba02b;"><strong>Plaćeno</strong></p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ZaPlatiti)
                }

            </td>
            <td>
                @Html.ActionLink("Računi", "RacuniView", "Racun", new { id = item.PK_Rezervacija }, null)
            </td>
        </tr>
    }

</table>

